<ion-content scrollY="true" >
  <div id="entete" class="ion-padding ion-margin">
    <!-- <h1>Connexion</h1> -->
  </div>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1 class="ion-no-padding ion-no-margin">Connexion</h1>
      <p class="ion-no-padding ion-no-margin">
        Entrez vos informations pour vous connecter
      </p>
    </div>
    <form [formGroup]="formulaires" (ngSubmit)="login()">

    <div class="login-form ion-padding">
        <div class="form-input">
          <ion-item class="ion-no-padding">
            <ion-input
              label="Noms utilisateurs"
              formControlName="userName"
              class="custom-input ion-no-padding"
              label-placement="stacked"
              placeholder=""
            >
              <ion-icon
                slot="start"
                name="person-outline"
                aria-hidden="true"
              ></ion-icon>
            </ion-input>

          </ion-item>
          <div *ngIf="userName.touched && userName.invalid" class="erreur">
            <div *ngIf="userName?.errors.required">
              Le noms d'utilisateur est requis.
            </div>
          </div>
        </div>
        <div class="form-input">
          <ion-item class="ion-no-padding">
            <ion-input
              label="Mots de passe"
              formControlName="password"
              class="custom-input"
              type="password"
              label-placement="stacked"
              placeholder=""
            >
              <ion-icon
                slot="start"
                name="lock-closed-outline"
                aria-hidden="true"
              ></ion-icon>
            </ion-input>

          </ion-item>
          <div *ngIf="password.touched && password.invalid" class="erreur">
            <div *ngIf="password?.errors.required">
              Le mots de passe est requis.
            </div>
          </div>
        </div>
    </div>
    <div class="action ion-padding">
      <div>
        <a href="/register">Creer un compte ?</a>
      </div>
      <div style="display: block;">
        <ion-button shape="round" type="submit" [disabled]="submitted">Se Connecter <i class="pi pi-spin pi-spinner" *ngIf="submitted" style="margin-left: 3px;"></i>
        </ion-button>
      </div>
    </div>
  </form>

  </div>
</ion-content>
