<ion-content scrollY="true" >

  <div id="entete" class="ion-padding ion-margin">
    <!-- <h1>S'inscrire</h1> -->
  </div>
  <div class="login-section ion-padding">
     <div class="heading ion-padding">
      <h1 class="ion-no-padding ion-no-margin">Incription</h1>
      <p class="ion-no-padding ion-no-margin">Insérez les informations pour créer votre compte</p>
     </div>
     <form [formGroup]="formulaires" (ngSubmit)="save()">

      <div class="login-form ion-padding">
          <div class="form-input">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Noms Utilisateur"
                formControlName="userName"
                class="custom-input ion-no-padding"
                label-placement="stacked"
              >
                <ion-icon
                  slot="start"
                  name="person-outline"
                  aria-hidden="true"
                ></ion-icon>
              </ion-input>

            </ion-item>
            <div *ngIf="userName.touched && userName.invalid" class="erreur">
              <div *ngIf="userName?.errors.required">
                Le noms d'utilisateur est requis.
              </div>
            </div>
          </div>
          <div class="form-input">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Prenoms"
                formControlName="firstName"
                class="custom-input ion-no-padding"
                label-placement="stacked"
              >
                <ion-icon
                  slot="start"
                  name="person-outline"
                  aria-hidden="true"
                ></ion-icon>
              </ion-input>

            </ion-item>
            <div *ngIf="firstName.touched && firstName.invalid" class="erreur">
              <div *ngIf="firstName?.errors.required">
                Le prenoms est requis.
              </div>
            </div>
          </div>
          <div class="form-input">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Noms"
                formControlName="lastName"
                class="custom-input ion-no-padding"
                label-placement="stacked"
              >
                <ion-icon
                  slot="start"
                  name="person-outline"
                  aria-hidden="true"
                ></ion-icon>
              </ion-input>

            </ion-item>
            <div *ngIf="lastName.touched && lastName.invalid" class="erreur">
              <div *ngIf="lastName?.errors.required">
                Le noms est requis.
              </div>
            </div>
          </div>
          <div class="form-input">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Mots de passe"
                formControlName="password"
                type="password"
                class="custom-input"
                label-placement="stacked"
                placeholder=""
              >
                <ion-icon
                  slot="start"
                  name="lock-closed-outline"
                  aria-hidden="true"
                ></ion-icon>
              </ion-input>

            </ion-item>
            <div *ngIf="password.touched && password.invalid" class="erreur">
              <div *ngIf="password?.errors.required">
                Le mots de passe est requis.
              </div>
            </div>
          </div>
          <div class="form-input">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Email"
                formControlName="email"
                class="custom-input"
                label-placement="stacked"
                placeholder=""
              >
                <ion-icon
                  slot="start"
                  name="lock-closed-outline"
                  aria-hidden="true"
                ></ion-icon>
              </ion-input>

            </ion-item>
            <div *ngIf="email.touched && email.invalid" class="erreur">
              <div *ngIf="email?.errors.required">
                Le mots de passe est requis.
              </div>
              <div *ngIf="email?.errors.valid">
                L'email n'est pas valide.
              </div>
            </div>
          </div>
          <div class="form-input">
            <ion-item class="ion-no-padding">
              <ion-toggle formControlName="admin">Entant qu'admin ?</ion-toggle>
            </ion-item>

          </div>
          <div class="action ion-padding" style="justify-content: space-between;">
            <div>
              <a href="/login">j'ai un compte</a>
            </div>
            <div style="display: block;">
              <ion-button shape="round" type="submit" [disabled]="submitted">S'inscrire <i class="pi pi-spin pi-spinner" *ngIf="submitted" style="margin-left: 3px;"></i>
              </ion-button>
            </div>
          </div>
      </div>
      <!-- <div class="login-form ion-padding">
        <div class="form-input">
          <ion-item class="ion-no-padding">
            <ion-input
              label="Prenoms"
              formControlName="firstName"
              class="custom-input ion-no-padding"
              label-placement="stacked"
            >
              <ion-icon
                slot="start"
                name="person-outline"
                aria-hidden="true"
              ></ion-icon>
            </ion-input>

          </ion-item>
          <div *ngIf="firstName.touched && firstName.invalid" class="erreur">
            <div *ngIf="firstName?.errors.required">
              Le prenoms est requis.
            </div>
          </div>
        </div>
        <div class="form-input">
          <ion-item class="ion-no-padding">
            <ion-input
              label="Password"
              formControlName="password"
              class="custom-input"
              label-placement="stacked"
              placeholder="Enter password"
            >
              <ion-icon
                slot="start"
                name="lock-closed-outline"
                aria-hidden="true"
              ></ion-icon>
            </ion-input>

          </ion-item>
          <div *ngIf="password.touched && password.invalid" class="erreur">
            <div *ngIf="password?.errors.required">
              Le mots de passe est requis.
            </div>
          </div>
        </div>
        <div class="form-input">
          <ion-item class="ion-no-padding">
            <ion-input
              label="Password"
              formControlName="password"
              class="custom-input"
              label-placement="stacked"
              placeholder="Enter password"
            >
              <ion-icon
                slot="start"
                name="lock-closed-outline"
                aria-hidden="true"
              ></ion-icon>
            </ion-input>

          </ion-item>
          <div *ngIf="password.touched && password.invalid" class="erreur">
            <div *ngIf="password?.errors.required">
              Le mots de passe est requis.
            </div>
          </div>
        </div>
        <div class="form-input">
          <ion-item class="ion-no-padding">
            <ion-input
              label="Prenoms"
              formControlName="firstName"
              class="custom-input"
              label-placement="stacked"
              placeholder="Enter password"
            >
              <ion-icon
                slot="start"
                name="lock-closed-outline"
                aria-hidden="true"
              ></ion-icon>
            </ion-input>

          </ion-item>
          <div *ngIf="password.touched && password.invalid" class="erreur">
            <div *ngIf="password?.errors.required">
              Le mots de passe est requis.
            </div>
          </div>
        </div>
    </div> -->


    </form>
    </div>

</ion-content>
