#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-tab-bar{
background-color: hsl(0, 0%, 100%);
// background-image: linear-gradient(390deg, #0c0c6e 3%, #2196F3 74%);
}
ion-tab-button{
  background-color: transparent !important;
  ion-icon{
    color: #000000;
  }
}
ion-footer{
  ion-toolbar{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}
